<ion-content [fullscreen]="true">
<div id="background"> <img src="../../../assets/imgs/code.svg">

 <ion-list lines="none" class="ion-margin" [formGroup]="ConfirmForm">
  <ion-list-header>Confirmer l'inscription </ion-list-header>
<!-- <div class="inputBox" formControlName="ConfirmationCode">
         <div class="input">
              <input type="text"/>
            </div>
            <div class="input">
              <input type="text"/>
            </div>
            <div class="input">
              <input type="text"/>
            </div>
            <div class="input">
              <input type="text"/>
            </div>
            <div class="input">
              <input type="text"/>
            </div>
            <div class="input">
              <input type="text"/>
            </div>
  
          </div>
    -->

   <ion-item class="ion-margin" style="margin-top: 32px;">
   <ion-input placeholder="Entrer le code de confirmation" type="text" formControlName="ConfirmationCode"  
     autocomplete="off" clearInput="true"></ion-input>
   = </ion-item>

</ion-list>
  <div align="right">
     <ion-button shape="round" strong="true" class="ion-margin-end" (click)="save()"
        [disabled]="remainingTime <= 0">
   {{ getRemainingTime() }} S'inscrire
 <ion-icon name="log-in" slot="end"></ion-icon>
     </ion-button>
      </div>
      <ion-button (click)="confirm()"> <ion-text color="medium">
        <p class="ion-margin-horizontal"> Renvoyer le code de confirmation</p>
      </ion-text>
    </ion-button>


     </div>

</ion-content>


