#bg {
    height: 50%;
    width: 500px;
    background: linear-gradient(#2570A2, #4B925C);

  //  background: var(--ion-color-dark) url('../../../../assets/imgs/leaves.jpg') no-repeat center center/cover;
    border-radius: 0 0 45% 45%;
    margin-left: -21vw;
    position: relative;

    img{
        width: 86% !important;
        padding-top: 7%;
        margin-left: 11%;
    }
}
ion-fab {
    ion-icon {
        font-size: 2.5rem;
    }
}
#background{
    height: 851px;
    background:rgb(234 234 234 / 26%) !important;
}
ion-list {
    background: rgb(50 171 99 / 20%);
    margin-top: 66px !important;
    border-radius: 20px;
    margin-top: 6vh;
    ion-list-header {
        font-weight: 1000;
        font-size: 1.5rem;
    }
    ion-item {
        border: 1px solid var(--ion-color-light);
        border-radius: 20px;
        -webkit-box-shadow: 0 6px 4px -4px var(--ion-color-medium);
        -moz-box-shadow: 0 6px 4px -4px var(--ion-color-medium);
        box-shadow: 0 6px 4px -4px var(--ion-color-medium);
    }
    p {
        font-size: 0.8rem;
        padding-left: 5vw;
    }
}
  
    img{
        margin-left: 44px;
        width: 80%;
        margin-top: 53px;
           margin-bottom: 23px;

    }
ion-button {
    color: #4B925C;

    --ion-color-primary: gradient( 135deg, 20%, #28F5C8 100% )!important;
    --ion-button-round-border-radius: 10px 50px 10px 50px;
    --ion-button-border-radius: 10px 50px 10px 50px;
    --ion-border-radius: 10px 50px 10px 50px;
    --border-radius: 10px 50px 10px 50px;
  }
ion-list{
    height: 200px;
    margin-top: 5vh;
}
ion-button {
    margin-top: 52px;
    
    --ion-button-round-border-radius: 10px 50px 10px 50px;
    --ion-button-border-radius: 10px 50px 10px 50px;
    --ion-border-radius: 10px 50px 10px 50px;
    --border-radius: 10px 50px 10px 50px;
  }

  .inputBox{
    margin-top: 38px;
    margin-left: 10px;
    display: flex;

    .input{
     margin-left: 5px;
     margin-right: 25px;
     border-radius: 5px; 
     input{
        outline: none;
        border: none;
        width: 30px;
        height: 30px;
        font-size: 20px;
     }  
    }
  }